#env
.env
.env.*
!.env.example

#logs
*.log

#node
node_modules/
dist/

#java
target/
*.class

#ide
.idea/
.vscode/

#os
.DS_Store
Thumbs.db

backend/src/main/resources/application-local.yaml
backend/src/main/resources/application-backup.yaml